{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Admin</h2>
<div class="form-group">
  {% comment %} <form method="post" action="" class="needs-validation">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Username</label>
        {{ form.username|add_class:"form-control" }}
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        {{ form.password|add_class:"form-control" }}
    </div>
    <div class="auth-button btn-primary">
      <button class="btn btn-primary w-100" type="submit">Log In</button>
    </div>
  </form> {% endcomment %}

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="auth-button btn-primary">
      <button type="submit">Log In</button>
    </div>
  </form>
</div>
</br>
{% endblock %}