{% extends "base.html" %}

{% block title %} Artist | Music Collectors Catalogue {% endblock %}

{% block content %}
    <center>
        <h1>Add Artist to Database</h1>
        <br/>
        <br/>

        {% if submitted %}
            Your Artist is added successfully!!!

        {% else %}
            <form action="" method="POST">
                {% csrf_token %}

                {{form.as_p}}

                <div class="btn-primary">
                    <input type="submit" value="Submit" class="submit-artist-form">
                </div>

            </form>
        {% endif %}
    </center>
{% endblock %}
