html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
 
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}
/* TYPOGRAPHY */
body {
    font-family: "Source Sans 3", sans-serif;
    /* font-family: "Albert Sans", sans-serif; */
    /* font-family: Merriweather, serif; */
    background-color: #c4cbce;
    color: #021525;
    line-height: 1.5;
}

h1, h2, h3, nav {
    text-transform: uppercase;
    font-size: 1.5rem;
}

h1, h2 {
    font-family: Oswald, "Helvetica Neue", sans-serif;
    text-align: center;
    font-size: 2rem;
}

h1 {
    font-size: 2.5rem;
    /* margin-bottom: 1em; */

}

h2, h3 {
    font-size: 1.5rem;
}

nav, footer {
    font-size: 1 rem;
    font-weight: lighter;
}

aside {
    text-align: center;
}

nav ul {
    display: flex;

}

/* COLOURS & SCHEMES */
nav, footer, header {
    background-color: #1a1209;
}

nav a, footer {
    color: aliceblue;
}

/*  LAYOUT */
nav, main, aside {
    padding: 1em;
}

main {
    margin-bottom: 5.5em;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1em 2em;
    width: 100%;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

footer p {
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    position: relative;
    width: 100%;
}

.head-img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-img-container img {
    width: 100%;
    /* height: 70%; */
    object-fit: cover;
    opacity: 0.3;
}

.head-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.head-text-overlay, .head-text-overlay button {
    color: #ebd9bb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

/* BUTTONS & ACCESSORIES */
hr {
    width: 60%;
    height: 1px;
    background-color: #200303;
    margin: 1em auto;
    display: block;
    justify-content: center;
    align-self: center;
    border: none;
}

.head-text-overlay hr {
    background-color: #ebd9bb;
}


#add-artist-field input {
    margin: 1em;
    padding: 2em;
}

.login-logout-button button, .add-entry-button button {
    background: none;
    border: none;
    padding: 1em 4em;
    border-radius: 10px;
}

.login-logout-button button {
    border: solid 1px #ebd9bb;
}

.add-entry-button, .login-logout-button {
    display: flex;
    justify-content: center;
}

.add-entry-button button {
    /* position: relative; */
    /* text-align: center; */
    /* left: 50%; */
    /* margin: 3em; */
    border: solid 1px #000000;
}

.login-logout-button a, .add-entry-button a, #admin-button a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
}

.login-logout-button button:hover, .login-logout-button a:hover {
    background-color: #ebd9bb;
    border: solid 1px #ebd9bb;
    color: #302405;
}

/* FORMS */

.form-group {
    border: #acaca1 solid 1px;
}

/* IMAGES */
img {
    width: 100%;
}

.homepage-wallpaper {
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
}

.homepage-wallpaper img {
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#catalogue-logo {
    width: 300px;
    max-width: 40%;
    margin: 1em 0;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-around;
}

nav ul, footer ul {
    list-style-type: none;
}

nav li {
    padding: 0.3em 1em;
}

nav a, footer a {
    text-decoration: none;
}


/* ALLBUMS */
#album-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    border-collapse : collapse;
}

/* ALBUM DETAILS */

/* ARTIST */
#artist-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    border-collapse : collapse;
    width: 100%;
}

#album-table tr:hover, #artist-table tr:hover {
    background-color: #747470;
}

#album-table a, #artist-table a {
    text-decoration: none;
    color: #1b1b0a;
    /* margin: 0.5em 2em; */
    text-align: center;

}

th, td {
    text-align: center;
    border-bottom: #808074 solid 1px;
    /* border: #49493f solid 1px 0px 1px 0px; */
    padding: 0.5em 4em;
    white-space: nowrap;
}

th {
	background-color:  #4c5f5f;
	line-height: 24px;
    width: 100%;

}