/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
 
* {
    box-sizing: border-box;
}

/* LAYOUT */
body {
    display: grid;
}

nav, main, footer {
    padding: 1em;
}

header {
    grid-row: 1;
}

nav {
    grid-row: 2;
}

main {
    grid-row: 3;
    min-height: 30em;
}

footer {
    grid-row: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
}

.artist-details {
    margin: 1em 4em;
}

/* TYPOGRAPHY */

body {
    font-family: "Source Sans 3", sans-serif;
    color: #444;
    line-height: 1.5;
}

h1, h2, h3, nav {
    text-transform: uppercase;
    font-weight: bold;
}

h1, h2 {
    font-family: Oswald, "Helvetica Neue", sans-serif;
    font-size: 1.4rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin: 1em 0;
}

nav {
    font-size: 1rem;
    font-family: "Source Sans 3", sans-serif;
}

p {
    margin: 1.5em;
}

.artist-details h2, .artist-details hr, .album-details h2, .album-details hr {
    text-align: left;
}

.artist-details hr, .album-details hr {
    width: 100%;
}

.add-artist-album {
    margin: 7em 0;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 0.5em 1em;
}

#welcome-text {
    margin: 2em;
}

/* COLOUR SCHEME & BORDERS */

header, footer {
    background-color: #1f1712;
    color: #b0ab9b;
}

nav {
    background-color: #301f0b;
}

nav a {
    color: #ebe5e1;
}

main a  {
    color:#030302;
    text-decoration: none;
}

footer a {
    color: #b0ab9b;
}

.selected, a:hover {
    color: rgb(238, 184, 84);
}

/* HEADER */
#homepage-wallpaper  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#homepage-wallpaper img {
    opacity: 0.3;
    height: 80%;
    object-fit: cover;
    display: block;
    /* justify-content: center; */
}

.head-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 15%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.head-text, .login-logout-button button {
    color: #ebd9bb;
}

header p {
    margin: 0.4em;
}
/* NAVIGATION */

nav {
    padding: 1em 1.4em;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

nav li {
    padding: 0.5em 2em 0.5em 0;
}

footer li {
    margin: 0 1em;
}

nav a, footer a {
    text-decoration: none;
}

/* BUTTONS & ACCESSORIES */

hr {
    width: 60%;
    height: 1px;
    background-color: #200303;
    margin: 1em auto;
    justify-content: center;
    align-self: center;
    border: none;
}

.head-text-overlay hr {
    background-color: #ebd9bb;
}

#add-artist-field input {
    margin: 1em;
    padding: 2em;
}

.login-logout-button button, .add-entry-button button, form button  {
    background: none;
    border: none;
    padding: 1em 4em;
}

.login-logout-button a, .add-entry-button a, #admin-button a, form button {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
}

.login-logout-button button {
    border: solid 1px #ebd9bb;
    border-radius: 10px;
}

.add-entry-button button {
    text-align: center;
    left: 50%;
    margin: 3em;
    border: solid 1px #000000;
    border-radius: 10px;
}


.login-logout-button button:hover, .login-logout-button a:hover {
    background-color: #ebd9bb;
    border: solid 1px #ebd9bb;
    color: #302405;
}


/* TABLE */
table {
    /* width: 30em; */
    border-collapse: collapse;
    margin: 1em 0;
    width: 80%;
}

#artist-table tbody {
    justify-content: center;
}

th, td {
    text-align: center;
    border: #49493f solid 1px;
    padding: 0.7em 0.5em;
    white-space: nowrap;
}

table a {
    text-decoration: none;
    color: #1b1b0a;
    text-align: center;
}

table a:hover {
    color: #8d5e38;
}

.entry-option-column {
    display: none;
}

th {
    color: #291203;
    background-color: #d3c7ba;
    font-size: 1rem;
}

td {
    font-size: 0.9rem;
    color: #dacbc2;
    text-align: left;
}

tr:hover, tr:hover {
    background-color: #b6b1ab;
}

/* FORMS */
main form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2em 1em;
    border: #000000 solid 1px;
}

main form button {
    margin-top: 3em ;
    border-top: 1px solid black;
    width: 80%;
}

/* IMAGES */
img {
    width: 100%;
}

/* RESPONSIVENESS */

@media screen and (min-width: 55em) {
    body {
        display: grid;
        grid-template-columns: 1fr 53em 1fr;
    }

    header, nav, footer {
        grid-column: 1/4;
    }

    main {
        grid-column: 2/3;
    }

    header {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    header > img {
        height: 10em;
    }
    
    header > h1 {
        flex-grow: 1;
    }

    .head-img-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #welcome-text {
        margin: 2em 5em;
    }

    main form{
        margin: 2em 5em;
        line-height: 1.7;
        font-size: 1.3rem;
    }

    main form button {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    /* .head-img-container {
        height: 20em;
    } */
    
    .head-img-container img {
        opacity: 0.3;
        height: 80%;
        object-fit: cover;
        display: block;
        justify-content: center;
    }
    
    .head-text {
        /* display: inline; */
        justify-content: space-around;
        grid-row: 2;
        align-items: center;
    }

    #homepage-wallpaper {
        height: 20em;
    }
    
/* 
    nav {
        grid-row: 2;
    }

    main {
        grid-row: 3;
    } */


    .entry-option-column {
        display: table-cell;
        width: 2em;
        text-align: center;
    }
}

@media screen and (min-width: 85em) {
    body {
        grid-template-columns: 1fr 83em 1fr;
    }

    #welcome-text {
        /* margin: 4em 5em; */
    }
    main form {
        /* margin: 4em 20em; */
    }
}