{% extends "/var/www/django-portfolio/musicsite/templates/music_catalogue/base.html" %}

{% block title %} {{page_title}} | Music Collecotrs Catalogue {% endblock %}

{% block content %}
    <h1>Artists</h1>
    <ul>
        {% for artist in artist_list %}
            <li>
                <a href="{{artist.id}}/">{{ artist.name}} {{ artist.country}}</a>
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}

    <div class="button">
        <button>
            <a class="add-artist" href="{% url 'add-artist' %}">Add Artist</a>
        </button>
    </div>

    {% else %}
    
    {% endif %}
{% endblock %}