{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Music Collectors Catalogue {% endblock %}</title>
    <!-- WEBSITE ICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/webicon.png' %}">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/stylesheet.css' %}">

</head>
<body>
    <nav>
        <div>
            <a href="{% url 'homepage' %}"><img id="catalogue-logo" src="{% static 'images/home-logo.png' %}" title="
                Muzički trezor logo"></a>
        </div>
        <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'albums' %}">Albums</a></li>
            <li><a href="{% url 'artists' %}">Artists</a></li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>