{% extends "base.html" %}

{% block title %} Album | Music Collectors Catalogue {% endblock %}

{% block content %}
    <center>
        <h1>Add Album to Database</h1>
        <br/>
        <br/>

        {% if submitted %}
            Your Album is added successfully!!!

        {% else %}
            <form action="" method="POST">
                {% csrf_token %}

                {{form.as_p}}
                
                <div class="btn-primary">
                    <input type="submit" value="Submit" class="submit-album-form">
                </div>
            </form>
        {% endif %}
    </center>
{% endblock %}
