{% extends "base.html" %}

{% block title %} {{page_title}} | Music Collectors Catalogue {% endblock %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td, th {
        padding: 10px;
        border: 1px solid #ccc;
    }

    .cover-cell {
        width: 120px;
    }

    .img-placeholder {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
</style>

<h1>Albums</h1>

<div>
    <table class="album-item">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Release Date</th>
        </tr>

        {% for album in album_list %}
        <tr>
            <td class="cover-cell">
                {% if album.cover_image %}
                    <img 
                        class="img-placeholder"
                        src="{{ album.cover_image.url }}"
                        title="{{ album.title }} album cover"
                        alt="{{ album.title }}"
                        width="200"
                    >
                {% else %}
                    <img 
                        class="img-placeholder"
                        src="/media/album_covers/album-cover-placeholder.png"
                        title="{{ album.title }} album cover"
                        alt="{{ album.title }}"
                        width="200"
                    >
                {% endif %}
            </td>

            <td>
                <a href="{{ album.id }}/">{{ album.title }}</a>
            </td>

            <td>
                <a href="{{ album.id }}/">{{ album.artist.title }}</a>
            </td>

            <td>
                <a href="{{ album.id }}/">{{ album.release_date }}</a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="4">No albums found.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if user.is_authenticated %}
<div class="btn-primary">
    <button>
        <a class="add-album" href="{% url 'add-album' %}">
            Add Album
        </a>
    </button>
</div>
{% endif %}

{% endblock %}